// import bootstrap

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@mixin setPosition($xValue, $yValue) {}

#ocean {
    position: relative;
    overflow: hidden;

    #water {
        z-index: 1;
    }

    #body-water {
        background-color: #0099ff;
        height: 100vh;
        width: 100%;
        z-index: 1;
    }

    #main-header {
        height: 40vh;
        transform: translate(0px, 0px);
        z-index: 0;
    }

    #line {
        color: rgb(0, 0, 0);
        border-radius: 5px;
    }
}

.parallax {
    /* The image used */
    background-image: url("/test-site/images/136.jpg");
    opacity: 0.5;
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
