#ocean {
    position: relative;
    overflow: hidden;
}

#water {
    height: 300px;
    width: 120rem;
    translate: -400px -100px;
    z-index: 0;
}

#body-water {
    background-color: #0099ff;
    height: 500px;
    width: 100%;
}

.header-sway {
    background-color: rgb(250, 250, 250);
    height: 300px;
    translate: 0% 50px;
    z-index: 0;
}

#line {
    color: white;
}
