#ocean {
    position: relative;
    overflow: hidden;
}

#water {
    height: 300px;
    width: 120rem;
    translate: -400px -100px;
}

#body-water {
    background-color: #0099ff;
    height: 500px;
    width: 100%;
    translate: 10% -100px
}

.header-sway {
    background-color: rgb(250, 250, 250);
    height: 300px;
    translate: 100rem -50px;
}

#line {
    color: white;
}

.block {
    
}